@import "tailwindcss";

@font-face {
  font-family: 'MontserratExtraBold';
  src: url('/fonts/MontserratExtraBold.otf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('/fonts/Montserrat-Italic.ttf') format('truetype');
}

.montserrat {
  font-family: 'Montserrat-Regular', sans-serif;
}

.montserrat-italic {
  font-family: 'Montserrat-Italic', sans-serif;
}

.montserrat-bold {
  font-family: 'Montserrat-ExtraBold', sans-serif;
}


.swiper-slide {
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 10rem !important;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}